#accueil_body
{
    background-color: #d4cdd2;
}
.couleurNavbar
{
    background-color: #08c5fb;
}
#btnHome1
{
    display: block;
    width: auto;
    height: auto;
}
#btnHome2
{
    display: none;
    width: auto;
    height: auto;
}
#btnHome3
{
    display: block;
    width: auto;
    height: auto;
}
#btnHome4
{
    display: none;
    width: auto;
    height: auto;
}
.keyart
{
    position: relative;
    z-index: 10;
    height: 1500px;
}
.parallax
{
    position: fixed;
    height: 1500px;

}
.keyart_layer
{
    background-position: top center;
    background-repeat: no-repeat;
    background-size : auto 1000px;
    width: 100%;
    position: absolute;
}
#ciel
{
    background-image: url("/KairosLight/public/CDMCiel.png");
}
#sol
{
    background-image: url("/KairosLight/public/CDMSOL.png");
}

#immeuble1
{
    background-image: url("/KairosLight/public/immeuble1.png");
}
#immeuble2
{
    background-image: url("/KairosLight/public/immeuble2.png");
}
#immeuble3
{
    background-image: url("/KairosLight/public/immeuble3.png");
}
#immeuble4
{
    background-image: url("/KairosLight/public/immeuble4.png");
}
#batiment1
{
    background-image: url("/KairosLight/public/Bat00001.png");
}
#batiment2
{
    background-image: url("/KairosLight/public/Bat00002.png");
}
#batiment3
{
    background-image: url("/KairosLight/public/Bat00003.png");
}
#batiment4
{
    background-image: url("/KairosLight/public/Bat00004.png");
}
#batiment5
{
    background-image: url("/KairosLight/public/Bat00005.png");
}
#nuage1
{
    background-image: url("/KairosLight/public/nuage1.png");
}
#nuage2
{
    background-image: url("/KairosLight/public/nuage2.png");
}
#nuage3
{
    background-image: url("/KairosLight/public/nuage3.png");
}
#nuage4
{
    background-image: url("/KairosLight/public/nuage4.png");
}
#logo
{
    background-image: url("/KairosLight/public/KairosTitreGif200Ms.gif");
}
#contenu
{
    background-image: url("/KairosLight/public/CDMSOL.png");
}